body{
  font-family: Tahoma;
  background-color: #f5f5f5;
}

div{
  border-top: 1px solid #d5d5d5;
}

span{
  font-weight: bold;
}

h1{
  text-align: center;
  margin-top: 0;
  font-size: 32px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 18px;
}

p{
  font-size: 16px;
  width: 930px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

a{
  background-color: #49b970;
  font-size: 14px;
  text-align: center;
  border-radius: 25px;
  padding: 10px 30px;
}

#Sobre{
  padding: 50px;
}

#Sinopse{
  padding: 50px;
}

#Autor{
  padding: 50px;
  width: 930px;
}

#Venda{
  padding: 50px;
}